:root {
    --color-background: #F0F0F7;
    --color-primary: #8257E5;
    --color-secondary: #04D361;
    --color-text-title: #32264D;
    --color-text-base: #6A6180;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    font-size: 60%;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: var(--color-background);
    color: var(--color-text-base);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

input,
button{
    color: var(--color-text-base);
    font: 500 1.3rem Poppins;
    padding: 1px;
}

#app {
    width: 90vw;
    max-width: 700px;
}

#header{
    margin: 1rem;
    font: 550 2.1rem Archivo;
    color: var(--color-text-title);
    display: flex;
    justify-content: center;
}

.input { 
    width:90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.input input {
    width: 80vw;
    height:5vh;
    background: var(--color-input-background);
    border: none;
    border-radius: .5rem;
}

.input input:focus {
    border-bottom: 1px solid var(--color-primary);
}

.input button{
    height:5vh;
    width: 15vw;
    margin-left: .5rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border-radius: 2rem;
}

ul{
    width: 90vw;
    list-style: none;
    display: flex;
    flex-direction: column;
}

ul li{
    width: 90vw;
    font: 500 1.4rem Poppins;
    display: flex;
    justify-content: space-between;
}

li {
    height: 4rem;
    margin: 0.2rem 0px;
    padding: 1rem;
    border-bottom: 1px solid var(--color-primary);
}
 /* TODO quando o texto é muito grande, causa uma quebra de linha
 e o texto não flui dentro da tag */
li a{
    width: 1.5rem;
    text-decoration: none;
    background: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1100px) {
    :root{
        font-size: 60%;
    }

    #app {
        width: 90vw;
        max-width: 1100px;
    }

    #header {
        font-size: 3rem;
        padding: 1rem;
    }
    .input,
    li {
        width:90vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .input input {
        width: 80vw;
        height: 4rem;
        background: var(--color-input-background);
    }
    .input button{
        width: 10vw;
        height: 4rem;
        color: var(--color-button-text);
    }
    
    ul{
        width: 90vw;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    ul li{
        width: 90vw;
        font: 300 2rem Poppins;
        display: flex;
        justify-content: space-between;
    }

    li {
        height: 4rem;
        border-bottom: 1px solid var(--color-primary);
        margin-bottom: .5rem;
    }

    li a{
        width: 2rem;
    }

    #aviso{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        color: red;
    }
}